In [2]:
import pandas as pd
import openpyxl
from functions import read_excel

In [2]:
file = ('C:\\Users\\M7MD\\Desktop\\DjangoProjects\\excelprogram\\test.xlsx')

In [3]:
file = ('WB.xlsx')

In [4]:
newData = pd.read_excel(file,header = 0, skipfooter = 0)
newData

    A   B  SUM
0   1  55  NaN
1   1   4  NaN
2  22   2  NaN

In [5]:
xlsx = pd.ExcelFile('WB.xlsx')
xlsx.sheet_names

['sum']

In [39]:
# 
xlsx.parse(0, header = 0, skipfooter = 0,na_filter =False)

    A   B SUM
0   1  55
1   1   4
2  22   2

In [52]:
dataToWrite = [
    [1,2,3,4],
    [1,2,3,4],
    [1,2,3,4],
    [1,2,3,4],
    [1,2,3,4]
]


df = pd.DataFrame(dataToWrite, columns = ['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
2  1  2  3  4
3  1  2  3  4
4  1  2  3  4

In [11]:
df.to_excel(file, sheet_name = 'sheet1', index = False)

to_excel is a openpyxl function help to write the data to excel sheet since pandas cant do it on its own
to_excel('file\path\example', sheet_name = 'example sheet name', index = False or True) 
index: print index of the rows to the excel || not.

In [12]:
# create Data Frame
df2 = pd.DataFrame(data = [['a', 'b', 'c', 'asdfgfdsa'],['d', 'e', 'f']], columns = ['1','2','3','4'])
df2

   1  2  3          4
0  a  b  c  asdfgfdsa
1  d  e  f       None

In [20]:
# write two Data Fram to excel file
with pd.ExcelWriter(xlsx)as writer:
    df.to_excel(writer, sheet_name = 'sheet1', index = True)
    df2.to_excel(writer,sheet_name = 'sheet2', index = True)

In [28]:
df

   A  B  C  D
0  1  2  3  4
1  1  2  3  4
2  1  2  3  4
3  1  2  3  4
4  1  2  3  4

In [21]:
# Append a Data frame with new sheet to an exsist one
with pd.ExcelWriter(xlsx, engine="openpyxl", mode = 'a')as writer:
    df.to_excel(writer, sheet_name = 'sheet3', index = True)

In [6]:
# Create Data Frame
df3 = pd.DataFrame(data = [[1,55,'=SUM(A2:B2)'],[1,4,'=SUM(A3:B3)'],[22,2,'=SUM(A4:B4)']], columns = ['A','B','SUM'])
df3

    A   B          SUM
0   1  55  =SUM(A2:B2)
1   1   4  =SUM(A3:B3)
2  22   2  =SUM(A4:B4)

In [14]:
# write the Data Frame to excel file
df3.to_excel(xlsx, sheet_name = 'sum', index = False)

In [7]:
# read excel
read_df = pd.read_excel(xlsx)
read_df

    A   B  SUM
0   1  55  NaN
1   1   4  NaN
2  22   2  NaN

In [15]:
_df = pd.read_excel(xlsx, sheet_name = 'sum')
_df

    A   B  SUM
0   1  55  NaN
1   1   4  NaN
2  22   2  NaN

In [16]:
# print the dataFrame
workbook = openpyxl.load_workbook(xlsx, data_only = True)
worksheet = workbook['sum'] 
dataFrame = pd.DataFrame(worksheet.values)
workbook.save(xlsx)
dataFrame

    0   1    2
0   A   B  SUM
1   1  55    0
2   1   4    0
3  22   2    0

In [19]:
# change values
print(dataFrame[0]) # print first row in the df3
print(dataFrame[0][0]) # print first cell in the first row of df3
print('before changing')
x = dataFrame[0][0] = 's' # change the value of A1 to s and save the value in x variable
x
print(dataFrame[0])
print(dataFrame[0][0])
print('after changing')

0     s
1     1
2     1
3    22
Name: 0, dtype: object
s
before changing
0     s
1     1
2     1
3    22
Name: 0, dtype: object
s
after changing

In [20]:
dataFrame

    0   1    2
0   s   B  SUM
1   1  55    0
2   1   4    0
3  22   2    0

In [120]:
d = newData['Department'].where(newData['Online Basic Life Support and First Aid Online Defensive Driving Course']==true)
print(d)

KeyError: 'Department'

In [21]:
df = dataFrame
print(df[0][3])
if df[0][0]:
    df[1][1] -= 10
df
dataFrame

22

    0   1    2
0   s   B  SUM
1   1  45    0
2   1   4    0
3  22   2    0

In [55]:
i =0 
for row in range(0, len(df)):
    print('i',i)
    
    for col in range(0, len(df.columns)):
        i += 1
        
        if i <=3:
           
            print(df[col][row], end= " ")
            
        else: 
            print('ss')
            print(df[col][row], end= " ")
            i = 0
        print('')

i 0
s
B
SUM
i 3
ss
1
45
0
i 2
1
ss
4
0
i 1
22
2
ss
0